@import "styles/room.scss";

body {
    // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: "Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    // font-size: 1rem;
    // line-height: 1.43;
    // color: #484848;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}